<div class="span6 offset2">
  <h2>{{ page.title }} </h2>
  {{ content }}
  <div class="pagination">
  	<ul class="pager">
      {% if page.previous %}
        <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" 
        title="{{ page.previous.title }}">&larr; Older</a></li>
      {% else %}
        <li class="previous disabled"><a>&larr; Older</a></li>
      {% endif %}

      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" 
        title="{{ page.previous.title }}">&larr; Newer</a></li>
      {% else %}
        <li class="previous disabled"><a>&larr; Older</a></li>
      {% endif %}
  		
  	</ul>
  </div>

    {% include JB/comments %}
  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>

</div>
